@import "./_colors.scss";

/*Navbar*/
header {
  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.bg-red {
  background-color: #cc0020;
}

/*Navbar*/
.navbar-brand {
  font-family: "SF bold";
  > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #cc0020;
  }
}
